body {
  margin: 0%;
  padding: 0%;
  background-color: aquamarine;
}

h1 {
  text-align: center;
}
.selectors {
  width: 20em;
  margin-right: 5%;
  margin-top: 5%;
  padding: 8px;
  margin-left: 5%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 15px;
  margin-top: 5%;
  width: 100%;
}
